#mobile-outline {
   outline: 20px solid #333;
   max-width: 412px;
   margin: 20px auto 20px auto;
   border-radius: 10px;
} 

.target-zone {
    background-color: rgba(200,200,200,0.2);
    border: 2px dashed rgba(206, 22, 22, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
}